.t {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
}

.kiss {
  position: center;
  max-width: 100%;
  height: auto;
}

.yeay {
  width: 420px;
  height: auto;
  max-width: 100%;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.result {
  border-radius: 60%;
  height: 80%;
  width: 80%;
}
.Button {
  margin: 10px;
  gap: 10px;
}

.valentine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

body,
html {
  overflow: hidden;
  height: 100%;
}
